body {
  font-family: Arial, Helvetica, sans-serif;
}

.Weather {
  border: 1px solid #ecedef;
  background-color: #ffffff;
  text-align: justify;
  padding: 16px;
  margin: 30px auto;
  border-radius: 4px;
  max-width: 800px;
}
.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  font-weight: bold;
  color: rgb(32, 33, 36);
  display: block;
  font-size: 30px;
  font-weight: 700;
  padding: 20px;
  line-height: 29px;
  margin: 20px 0 0 0;
}
.Weather ul {
  margin: 10px;
  padding: 10px;
}

.Weather li {
  color: rgb(112, 117, 122);
  font-size: 18px;
  font-weight: 400;
  height: 20px;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  margin: 10px auto;
}
.Weather .temperature {
  font-weight: bold;
  color: rgb(32, 33, 36);
  font-size: 60px;
  font-weight: 400;
  line-height: 64px;
  margin-left: 5px;
  margin-left: 10px;
}

.Weather .unit {
  font-weight: bold;
  color: rgb(32, 33, 36);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
  line-height: 1px;
}
